/* styles.css */

body, h1, h3, p, label, a, button, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;

}

body {
    font-family: Arial, sans-serif;
    background-color: #d3eaff; /* Light blue background */
    color: #333; /* Dark text color */
    line-height: 1.6;
}

/* Navbar styles */
header {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

h1 {
    color: #007bff; /* Primary blue for main heading */
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    color: #333; 
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
}

a {
    color: #007bff; 
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #007bff; 
    color: white; 
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; 
}

input[type="date"] {
    padding: 8px;
    border: 1px solid #333;
    border-radius: 4px;
    font-size: 1em;
    color: #333;
}

#assignmentDetails {
    background-color: white; 
    padding: 15px;
    border: 1px solid #007bff; 
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#assignmentDetails p span {
    color: #007bff; 
}
